.container02 {
    font-family: Arial, sans-serif;
    color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #09090b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.pc-info {
    background-color: #18181b;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
}

.pc-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.pc-info p {
    margin: 5px 0;
}
