.container {
    font-family: Arial, sans-serif;
    color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #09090b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.info {
    background-color: #18181b;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 40px; 
    font-size: 18px; 
}

.imc {
    font-weight: bold;
}

.classificacaoAcima {
    color: red; 
}

.classificacaoIdeal {
    color: green;
}

.classificacaoAbaixo {
    color: yellow;
}
